.toolbar-logo {
    width: 260px;
    }

.app-toolbar {
    height: 80px;
    }

.example-spacer {
    flex: 1 1 auto;
    }

.main-divider {
    height: 80%;
    border-color:#fed208 !important;
    }
.button-divider {
    height: 20%;
    border-color:#fed208 !important;
    }