<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <form [formGroup]="registerGroup">                
                <mat-card-header>
                    <mat-card-title>Nieuwe gebruiker registreren</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card-subtitle class="ml-2">Persoonsgegevens</mat-card-subtitle>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Voornaam</mat-label>
                                <input matInput formControlName="firstName" required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br />
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Achternaam</mat-label>
                                <input matInput formControlName="lastName" required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <mat-card-subtitle class="ml-2">Inlog gegevens</mat-card-subtitle>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>E-mail adres</mat-label>
                                <input matInput formControlName="email" required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br />                   
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Wachtwoord</mat-label>
                                <input matInput formControlName="password" type="password" required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br/>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Functie</mat-label>
                                <mat-select placeholder="Kies de functie van de gebruiker." formControlName="role" required>
                                    <mat-option *ngFor="let role of roles" matInput type="string"
                                        [value]="role">{{role}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-card-subtitle class="ml-2">Meer gegevens</mat-card-subtitle>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Meer data</mat-label>
                                <input matInput required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br />                   
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Meer data</mat-label>
                                <input matInput required>
                                <!-- <mat-error *ngIf="form.length.invalid">Vul een lengte in</mat-error> -->
                            </mat-form-field>
                            <br/>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>Dropdown menu</mat-label>
                                <mat-select placeholder="Dropdown menu">
                                    <mat-option *ngFor="let role of roles" matInput type="string"
                                        [value]="role">{{role}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>                    
                    <hr/>
                </mat-card-content>
                <mat-card-footer class="text-right">
                    <button mat-raised-button type="submit" class="mb-2 mr-3" color="primary" (click)="register()">Bevestig</button>
                </mat-card-footer>
            </form>
            </mat-card>
        </div>
    </div>
</div>
