<div class="container">
    <div class="row">
        <div class="col-md-5" >
            <mat-card style="background: whitesmoke;">
                <mat-card-header>
                    <mat-card-title>
                        Title
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 215px;">
                    <hr/>

                   
                </mat-card-content>
                <mat-card-footer>
                    <hr/>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3" >
            <mat-card style="background: whitesmoke;">
                <mat-card-header>
                    <mat-card-title>
                        Title
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 215px; ">
                    <hr/>

                    <h1>Content</h1>
                </mat-card-content>
                <mat-card-footer>
                    <hr/>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4" >
            <mat-card style="background: whitesmoke;" class="text-center">
                <mat-card-header>
                    <mat-card-title>
                        Gebruikers toevoegen
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 215px; ">
                    <hr/>
                    <p>Klik op de knop hieronder om een nieuwe gebruiker toe te voegen.</p>
                    <button mat-button class="register-button primary-background">Registreren</button>
                </mat-card-content>
                <mat-card-footer>
                    <hr/>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12" >
            <mat-card style="background: whitesmoke;">
                <mat-card-header>
                    <mat-card-title>
                        Title
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 150px; ">
                    <hr/>

                    <h1>Content</h1>
                </mat-card-content>
                <mat-card-footer>
                    <hr/>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>