
<div class="container">
    <mat-card style="background-color: whitesmoke;">
        <mat-card-header>
            <mat-card-title>{{user.role}}: {{user.firstName}} {{user.lastName}}</mat-card-title>
        </mat-card-header>
        <hr/>
    </mat-card>
</div>
<div class="mt-2">
    <app-admin-dashboard *ngIf="user.role == 'Administrator'"></app-admin-dashboard>
    <app-psycho-dashboard *ngIf="user.role == 'Psycholoog'"></app-psycho-dashboard>
    <app-ergo-dashboard *ngIf="user.role == 'Ergotherapeut'"></app-ergo-dashboard>
    <app-doctor-dashboard *ngIf="user.role == 'Arts'"></app-doctor-dashboard>
</div>