<!-- <div class="container">
    <mat-card style="background-color: whitesmoke;">
        <mat-card-header>
            <mat-card-title>{{user.role}}: {{user.firstName}} {{user.lastName}}</mat-card-title>
        </mat-card-header>
        <hr/>
    </mat-card>
</div> -->
<!-- <div class="mt-2">
    <app-admin-dashboard *ngIf="user.role == 'Administrator'"></app-admin-dashboard>
    <app-doctor-dashboard *ngIf="user.role == 'Arts'"></app-doctor-dashboard>
    <app-psycho-dashboard *ngIf="user.role == 'Psycholoog'"></app-psycho-dashboard>
    <app-ergo-dashboard *ngIf="user.role == 'Ergotherapeut'"></app-ergo-dashboard>
    <app-logo-dashboard *ngIf="user.role == 'Logopedist'"></app-logo-dashboard>
    <app-fysio-dashboard *ngIf="user.role == 'Fysiotherapeut'"></app-fysio-dashboard>
    <app-diet-dashboard *ngIf="user.role == 'Dietist'"></app-diet-dashboard>
</div> -->

<app-client-dashboard *ngIf='usertype == "patient"' [user]="user"></app-client-dashboard>
<app-user-dashboard *ngIf="usertype == 'user'"></app-user-dashboard>

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Mobiliteit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <hr />
        <div class="row mr-2 ml-2">
            <div class="col-md-4 bordered">
                <mat-card-subtitle>In kamer</mat-card-subtitle>
                <img src="{{user!.mobilityInRoom.image}}" class="img-fluid" />
            </div>
            <div class="col-md-4 bordered">
                <mat-card-subtitle>Op afdeling</mat-card-subtitle>
                <img src="{{user!.mobilityOnDepartment.image}}" class="img-fluid" />
            </div>
            <div class="col-md-4 bordered">
                <mat-card-subtitle>Buiten afdeling</mat-card-subtitle>
                <img src="{{user!.mobilityOffDepartment.image}}" class="img-fluid" />
            </div>
        </div>
    </mat-card-content>
</mat-card> -->