.textbox-one {
    background: linear-gradient(to right, rgba(247,208,21,0.85) 0%,rgba(127,155,60,0.85) 50%,rgba(7,113,120,0.85) 100%);
    padding: 14px 20px 20px 20px;
    border-radius: 15px;
    opacity: 0.8
    }



.card-box {
    opacity: 0;
    }

.actual-text {
    opacity: 1
    color: rgba(0, 0, 0, 0.87);;
    font-size: 24px;
    font-family: "Montserrat","Helvetica Neue","Segoe UI",Arial,sans-serif;
    
    text-rendering: optimizeLegibility !important;
    -webkit-text-stroke: 0.02px;
    }

.footer-text {
    font-size : 18px;
    color: rgba(0, 0, 0, 0.87);
    }

.arrow {
    font-size: 20px !important;
    }

.login-card {
    background:whitesmoke !important;
    padding: 14px 20px 20px 20px;
    border-radius: 15px;
    }

.container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-md-6{    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mat-card-title {
    font-size: 28px;
    }

.logout-button {
    width: 440px;
    height: 250px;
    font-size:35px;
    color: whitesmoke 
    background-color: #05757b;
    opacity: 0.87;
    }

    
    
