.title {
    border-bottom: #fed208 2px solid;
    font-size: 24px;
    }

.selectbtn {
    background-color: whitesmoke !important;
    border: #05757b 2px solid !important
    }

.info-box {
    transition: none !important;
    box-shadow: none !important;
    }