<div class="container" #blurme>
    <div class="row">
        <div class="col-md-12">
            <mat-card style="height: 80px;">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="primary-color title">
                            Dashboard
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <form [formGroup]="selectedForm">
                            <div class="row parent">
                                <div class="col-md-8 child">
                                    <mat-form-field appearance="outline" class="ml-2 mb-2"
                                        style="width: 100% !important;">
                                        <mat-label>Revalidant</mat-label>
                                        <mat-select placeholder="Kies de functie van de gebruiker."
                                            formControlName="selected" required>
                                            <mat-option *ngFor="let patient of patients" matInput [value]="patient">
                                                {{patient.firstName}} {{patient.lastName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 child">
                                    <button mat-raised-button class="mt-3 selectbtn" style="height: 50px !important;"
                                        class="text-left" (click)="onSelect()">Selecteer</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-2">
                        <img *ngIf="selected" style="width: 48px; height: 48px;"
                            src="{{selected!.resuscitation!.image!}}" class="float-right">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-2">
            <mat-card style="background: whitesmoke;" (click)="onSelectCard('info')">                
                <mat-card-content style="height: 215px; ">
                    <h2 class="primary-color subtitle">Gegevens</h2>
                    <div class="ml-2" *ngIf="selected">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="" style="height: 100px; width: 60px;">

                            </div>
                            <div class="col-md-9">
                                <b>Naam: </b><br />
                                {{selected!.firstName}} {{selected!.lastName}}<br />
                                <b>Geboortedatum: </b><br />
                                {{selected!.dateOfBirth | date: 'fullDate'}}<br />
                                <b>Voorlopig ontslag: </b><br />
                                {{selected!.dateOfDeparture | date: 'fullDate'}}

                            </div>
                        </div>

                    </div>
                </mat-card-content>


            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card style="background: whitesmoke;" (click)="onSelectCard('practitioners')">                
                <mat-card-content style="height: 215px; ">
                    <h2 class="primary-color subtitle">Behandelaren</h2>
                    <div *ngIf="selected && selected.practitioners" style="height: 115px;">
                        <ul>
                            <li *ngFor="let practitioner of selected.practitioners"
                                (click)="onSelectPractitioner(practitioner)"><span
                                    class="list-item">{{practitioner.role}}</span> - {{practitioner.firstName}}
                                {{practitioner.lastName}} </li>
                        </ul>
                    </div>
                    <div *ngIf='selectedPractitioner' class="ml-2">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="" style="height: 100px; width: 75px;">

                            </div>
                            <div class="col-md-8">
                                <p>Naam: {{selectedPractitioner!.firstName}}
                                    {{selectedPractitioner!.lastName}}<br />
                                    Functie: {{selectedPractitioner.role}}<br />
                                    E-mail: {{selectedPractitioner!.email}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-md-4 mt-2">           
            <div class="row mt-1" style="height: 50%;">
                <div class="col-md-12">
                    <mat-card (click)="onSelectCard('advice')" style="height: 100%;">
                        <h2 class="primary-color subtitle">Slik- | Dieetadvies</h2>                        
                        <p *ngIf="selected">Bekijk hier het slik- en dieetadvies</p>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-1" style="height: 50%;">
                <div class="col-md-12">
                    <mat-card (click)="onSelectCard('adl')" style="height: 100%;">
                        <h2 class="primary-color subtitle">ADL</h2>
                        <p  *ngIf="selected">Bekijk hier de hulp bij Algemene Dagelijkse Levensverichtingen</p>
                    </mat-card>
                </div>
            </div>
        </div>        
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <mat-card style="background: whitesmoke;" (click)="onSelectCard('goals')">
                
                <mat-card-content style="height: 150px; ">
                    <h2 class="primary-color subtitle">Doelen en Oefeningen</h2>
                    <div *ngIf="selected">
                        Bekijk hier de doelen en oefeningen
                    </div>


                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="background: whitesmoke;" (click)="onSelectCard('appointments')">
                
                <mat-card-content style="height: 150px; ">
                    <h2 class="primary-color subtitle">Afspraken</h2>
                    <div *ngIf="selected" class="ml-2">
                        Bekijk hier de afspraken van de revalidant
                    </div>
                    

                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="background: whitesmoke;" (click)="onSelectCard('comments')">
                
                <mat-card-content style="height: 150px; ">
                    <h2 class="primary-color subtitle">Opmerkingen</h2>
                    <div *ngIf="selected">
                        <div *ngFor="let comment of selected.comments.reverse().slice(0,3)">
                            {{comment.author}} zei: "{{comment.content}}"
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">

            <app-mobility-card [patient]="selected"></app-mobility-card>
        </div>
    </div>
</div>
<div *ngIf="selectedCard == 'advice'">
    <app-advice-card [patient]="selected"></app-advice-card>
</div>
<div *ngIf="selectedCard == 'info'">
    <app-info-card [patient]="selected"></app-info-card>
</div>
<div *ngIf="selectedCard == 'adl'">
    <app-adl-card [patient]="selected"></app-adl-card>
</div>
<div *ngIf="selectedCard == 'practitioners'">
    <app-practitioners-card [patient]="selected"></app-practitioners-card>
</div>
<div *ngIf="selectedCard == 'comments'">
    <app-comments-card [patient]="selected"></app-comments-card>
</div>
<div *ngIf="selectedCard == 'appointments'">
    <app-appointments-card [patient]="selected"></app-appointments-card>
</div>
<div *ngIf="selectedCard == 'goals'">
    <app-goals-card [patient]="selected"></app-goals-card>
</div>