<div class="container" #blurme *ngIf="user">
    <div class="row">
        <div class="col-md-11">
            <h2 class="title primary-color">Dashboard</h2>
        </div>
        <div class="col-md-1">
            <img style="width: 30px; height: 30px;" src="{{user!.resuscitation.image}}" />
        </div>
    </div>

    <div class="row mainrow">
        <div class="col-md-4">
            <div class="row" style="height: 33%;">
                <div class="col-md-12 mt-2">
                    <mat-card class="info-box">
                        <mat-card-content>
                            <h2 class="primary-color subtitle">{{user.firstName}} {{user.lastName}}</h2>
                            <div class="row">
                                <div class="col-md-12">                                
                                    <b>Voorlopige ontslagdatum:</b>
                                    <br />
                                    {{user.dateOfDeparture | date: 'mediumDate'}}
                                </div>                            
                            </div>    
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2" style="height: 33%;">
                <div class="col-md-12">
                    <mat-card (click)="onSelectCard('practitioners')">  
                        <mat-card-content>
                            <h2 class="primary-color subtitle">Behandelaren</h2>
                            <div class="row">
                                <div class="col-md-12">                                
                                    <p>Bekijk al uw behandelaren. </p>
                                </div>                            
                            </div>                       
    
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2" style="height: 30%;">
                <div class="col-md-12">
                    <mat-card (click)="onSelectCard('goals')">             
                        <mat-card-content>
                            <h2 class="primary-color subtitle">Doelen en Oefeningen</h2>
                            U heeft als doel deze week: <br/>
                            {{user!.mainGoal!}}
                            
                        </mat-card-content>                    
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="row mt-2" style="height: 31%;">
                <div class="col-md-12 " >
                    <mat-card  (click)="onSelectCard('advice')">                        
                        <mat-card-content>
                            <h2 class="primary-color subtitle">Slik- | Dieetadvies</h2>
                            Bekijk hier uw Slik- en Dieetadvies.

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2" style="height: 31%;">
                <div class="col-md-12">
                    <mat-card  (click)="onSelectCard('adl')">                        
                        <mat-card-content>
                            <h2 class="primary-color subtitle">ADL</h2>
                            <p>Bekijk alle Algemene Dagelijkse Levensverichtingen</p>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12" style="height: 33%;">
                    <mat-card (click)="onSelectCard('comments')">                
                        <mat-card-content>
                            <h2 class="primary-color subtitle">Opmerkingen</h2>
                            <div *ngIf="user">
                                <div *ngFor="let comment of user.comments.reverse().slice(0,2)">
                                    {{comment.author}} zei: "{{comment.content}}"
                                </div>
                            </div>
                           
                        </mat-card-content>                    
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2 equal">
            <mat-card (click)="onSelectCard('appointments')">                
                <mat-card-content>
                    <h2 class="primary-color subtitle">Afspraken</h2>
                    <div *ngIf="user && user.appointments">

                        <div *ngFor="let appointment of user.appointments.slice(0,3)">
                            <mat-card class="mt-2">
                                <h3 class="subsubtitle primary-color">{{appointment.description}}</h3>
                                <p>Datum: {{appointment.date | date : 'short'}}</p>
                                <p>Behandelaar: {{appointment.practitioner.firstName}} {{appointment.practitioner.lastName}}.</p>                            
                            </mat-card>
                        </div>

                    </div>
                </mat-card-content>                    
            </mat-card>
        </div>
    </div>    
    <div class="row mt-2">
        <div class="col-md-12 mt-2">
           <app-mobility-card [patient]="user"></app-mobility-card>
        </div>
    </div>
</div>

<div *ngIf="selectedCard == 'advice'">
    <app-advice-card [patient]="user"></app-advice-card>
</div>
<div *ngIf="selectedCard == 'adl'">
    <app-adl-card [patient]="user"></app-adl-card>
</div>
<div *ngIf="selectedCard == 'practitioners'">
    <app-practitioners-card [patient]="user"></app-practitioners-card>
</div>
<div *ngIf="selectedCard == 'mobility'">
    <app-mobility-card [patient]="user"></app-mobility-card>
</div>
<div *ngIf="selectedCard == 'comments'">
    <app-comments-card [patient]="user"></app-comments-card>
</div>
<div *ngIf="selectedCard == 'appointments'">
    <app-appointments-card [patient]="user"></app-appointments-card>
</div>
<div *ngIf="selectedCard == 'goals'">
    <app-goals-card [patient]="user"></app-goals-card>
</div>