.material-icons {
    font-size: 42px;
    }

.secondary {
    color: #fed208
    }

.primary-background {
    background-color: #05757b;
    opacity: 0.87;
    color: whitesmoke;
    }

.primary-color {
    color: #05757b;
    }
.mat-card-title {
    color: #05757b
    }

.mat-card {
    background-color: whitesmoke !important;
    }

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.detailedCard {
    // z-index: 5;
    // position: absolute;
    // height: auto;
    // overflow: hidden;
    position: absolute;
    margin-top: 15vh;
    margin-left: 3vh;
    z-index: 5;
    top:0;
    }

    .title {
    border-bottom: #fed208 2px solid;
    font-size: 24px;
    width: 100%;
    }

    .subtitle {
    border-bottom: #fed208 2px solid;
    font-size: 18px !important;
    width: 75%;
    }