.material-icons {
    font-size: 42px;
    }

.secondary {
    color: #fed208
    }

.primary-background {
    background-color: #05757b;
    opacity: 0.87;
    }

.primary-color {
    color: #05757b;
    }
.mat-card-title {
    color: #05757b
    }

.mat-card {
    background-color: whitesmoke !important;
    }
