
    <mat-card>
        <mat-card-header>
            <mat-card-title>Mobiliteit | Transfer</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="patient">
            <hr />
            <div class="row mt-2">
                <div class="col-md-3">
                    <h2 class="subtitle primary-color">Transfer in en uit bed</h2>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.transfer.transfer.image!}}" class="img-fluid mobicon" />
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.transfer.facscore.image!}}" class="img-fluid mobicon" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="subtitle primary-color">Mobiliteit op de kamer</h2>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityInRoom!.mobility.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityInRoom!.facscore.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                    </div>
                </div>           
                <div class="col-md-3">
                    <h2 class="subtitle primary-color">Mobiliteit op de afdeling</h2>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityOnDepartment!.mobility.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityOnDepartment!.facscore.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="subtitle primary-color">Mobiliteit buiten de afdeling</h2>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityOffDepartment!.mobility.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{{patient!.mobilityOffDepartment!.facscore.image!}}"
                                class="img-fluid mobicon" />
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
