.heart {
    height: 42px;
    }

.mat-form-field {
    width: 80%;
    }
.subsubtitle {
    width: 100%;
}

.card-subtitle {
    border-bottom: #fed208 2px solid;
    font-size: 18px !important;
    width: 100%;
    }